[Unit]
Description= Connects and sends some data to IoTConnect infinitely
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/iotc-manager.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target